@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Nunito+Sans:wght@400;700&family=Roboto:ital,wght@0,400;1,400&display=swap');

:root {
  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
  --font-base: "Roboto", sans-serif;
}

html,
body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-secondary);
}

p,
li,
.content {
  font-family: var(--font-base);
}


body {
  width: 1440px;
  height: 934px;

  header {
    width: 1440px;
    height: 80px;
    font-family: quicksand;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EFEEF3;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: var(--text);

    .logo {
      margin-left: 130px;
    }
  }

  .content {
    display: grid;
    justify-content: center;
  }

  .service {
    width: 377px;
    height: 81px;
    font-family: var(--third-family);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  service:hover {
    background-color: aqua;
  }


  .services {
    display: flex;
    width: 1170px;
    height: 461px;
    border-bottom: none;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;


    .design,
    .ecommerce,
    .application {
      width: 340px;
      height: 370px;
      border: 1px solid #EFEEF3;
      align-content: center;
      padding: 40px;
      box-sizing: border-box;
    }

    .design:hover,
    .ecommerce:hover,
    .application:hover {
      background-color: aqua;
      border-color: green;
      transition: 0.9s ease;
    }
  }

  footer {
    width: 1440px;
    height: 193px;
    background-color: #16133D;
    color: white;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;


    .logo {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      gap: 10px;
    }


  }

  .icon-instagram,
  .icon-facebook,
  .icon-twitter,
  .icon-github,
  .icon-dribble {
    width: 38px;
    height: 38px;
    stroke: white;
    padding-right: 10px;
  }

  .icon-instagram:hover,
  .icon-facebook:hover,
  .icon-twitter:hover,
  .icon-github:hover,
  .icon-dribble:hover {
    stroke: aqua;
    transition: 0.5s ease;
  }
}